/* src/Dashboard.css */
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #eef2f7;
  }
  
  .dashboard h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .dashboard div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    max-width: 600px;
  }
  
  .dashboard p {
    font-size: 18px;
    margin-bottom: 10px;
  }